<html lang="en">
<title>O'Canada</title>

<img src="https://www.cannalawblog.com/files/2015/10/Flag_map_of_Greater_Canada.png"><br>

<h1>I'm Canadian, <strong>EH?</strong></h1><br>
<h4>Time to learn a little <em>about</em> where I'm from.</h4><br>
<a href="https://www.cs.cmu.edu/~steffan/canadianisms.html">Funny Things Canadians Say</a><br>

<body>

<table class="table">
    <thead>
    <tr>
      <th scope="col">Province</th>
      <th scope="col">Population</th>
        <th scope="col">Area (square km)</th>
        <th scope="col">Flower</th>
    </tr>
    </thead>
    <tbody>
<tr>
  <th scope="row">Nunavut</th>
  <td>35,944</td>
  <td>1,936,113</td>
  <td>Purple saxifrage</td>
</tr>
<tr>
  <th scope="row">Ontario</th>
  <td>13,448,494</td>
  <td>917,741</td>
  <td>White trillium</td>
</tr>
<tr>
  <th scope="row">Quebec</th>
  <td>8,164,361</td>
  <td>1,365,128</td>
  <td>Blue flag iris</td>
</tr>
<tr>
  <th scope="row">Manitoba</th>
  <td>1,278,365</td>
  <td>553,556</td>
  <td>Prairie crocus</td>
</tr>
<tr>
  <th scope="row">Saskatchewan</th>
  <td>1,098,352</td>
  <td>591,670</td>
  <td>Western red lilly</td>
</tr>
<tr>
  <th scope="row">Alberta</th>
  <td>4,067,175</td>
  <td>642,317</td>
  <td>Wild rose</td>
</tr>
<tr>
  <th scope="row">British Columbia</th>
  <td>4,648,055</td>
  <td>925,186</td>
  <td>Pacific dogwood</td>
</tr>
<tr>
  <th scope="row">Newfoundland</th>
  <td>519,716</td>
  <td>373,872</td>
  <td>Purple pitcher plant</td>
</tr>
<tr>
  <th scope="row">PEI</th>
  <td>142,907</td>
  <td>5,660</td>
  <td>Lady's slipper</td>
</tr>
<tr>
  <th scope="row">Nova Scotia</th>
  <td>923,598</td>
  <td>53,338</td>
  <td>Mayflower</td>
</tr>
<tr>
  <th scope="row">New Brunswick</th>
  <td>747,101</td>
  <td>71,450</td>
  <td>Purple violet</td>
</tr>
<tr>
  <th scope="row">Yukon</th>
  <td>35,874</td>
  <td>474,391</td>
  <td>Fireweed</td>
</tr>
<tr>
  <th scope="row">Northwest Territories</th>
  <td>41,786</td>
  <td>1,183,085</td>
  <td>Mountain avens</td>
</tr>
</tbody>
</table>
<p>On July 1st, 1867, Canada was born! At that time, there were only four provinces
    (Quebec, Ontario, New Brunswick and Nova Scotia). In 1870, Manitoba and the Northwest Territories joined, in 1970 Manitoba joined too,
and then a few years later, B.C.and P.E.I. joined in too. Then came Yukon and in 1905 Manitoba and Saskatchewan same on board,
and following the World War, Newfoundland did too! Nunavut was the last to join in 1999.</p><br>
<p>"This land is your land, this land is my land, from Bonavista, to Vancouver Island. From the Arctic Circle, to
the Great Lake waters. This land was made for you and me!"</p><br>
<p> I hope you enjoyed this tribute to my homeland!</p>

</body>
</html>
